# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environments
.env
.venv/
env/
venv/
ENV/
env.bak/

# Logs
*.log

# PyInstaller
build/
dist/
*.spec

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
*.swp
.DS_Store

# Render / Deployment
*.bak
